{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to LewisBlogs {% endblock %}</h1>

    <!--The for loop will always update the list of post when updated in the database -->
    {% for post in posts %}
        <a href=" {{ url_for('post', post_id=post['id']) }} ">
            <h4>{{ post['title'] }}</h4>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
