{% extends 'base.html' %}

{% block content %}
    <h5>{% block title %}House Rules{% endblock %}</h5>
    <div>
        <ul>
         <li class="nav-item active">
            Be classy, dont be an attention whore.
          </li>
            <li class="nav-item">
              DBAA - Dont Be An Ass. Mind others and their feelings.
          </li>
            <li class="nav-item">
              Be creative.
          </li>
        </ul>
    </div>
    <span class="badge badge-primary">keep them in mind</span>
{% endblock %}